<%= render 'breadcrumbs' %>

<% if @group.motions.any? %>

  <% @group.motions.each do |motion| %>
    <%= div_for(@group, motion) do %>
      <div class="actions">
        <span><%= link_to 'Edit', edit_group_motion_path(@group, motion) %></span>
        <span><%= link_to 'Destroy', [@group, motion], method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
      <%= link_to [@group, motion], class: 'well' do %>
        <blockquote><%= motion.text %></blockquote>
        <p>
        Author: <b><%= motion.author.display_name %></b>
        </p>
      <% end %>
    <% end %>
  <% end %>


<% end %>

<%= link_to 'New Motion', new_group_motion_path(@group), class: 'btn btn-primary' %>
