<%= render 'breadcrumbs' %>

<% if @group.motions.any? %>

  <% @group.motions.each do |motion| %>
    <%= div_for(@group, motion) do %>
      <%= link_to [@group, motion], class: 'well' do %>
        <blockquote><%= motion.text %></blockquote>
        <div class="motion-author">
        Author: <b><%= motion.author.name %></b>
        </div>
        <div class="motion-timestamp">
          Created <%= time_ago_in_words(motion.created_at) %> ago
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'New Motion', new_group_motion_path(@group), class: 'btn btn-primary' %>
