<h1><%= @group.name %></h1>

<% if @group.motions.any? %>
  <table>
    <thead>
      <tr>
        <th>Text</th>
        <th>Author</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @group.motions.each do |motion| %>
        <tr>
          <td><%= motion.text %></td>
          <td><%= motion.author.display_name %></td>
          <td><%= link_to 'Edit', edit_group_motion_path(@group, motion) %></td>
          <td><%= link_to 'Show', [@group, motion] %></td>
          <td><%= link_to 'Destroy', [@group, motion], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<%= link_to 'New Motion', new_group_motion_path(@group) %>
