<!DOCTYPE html>
<html lang="en">
<head>
  <title>Emotion</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<nav class="navbar navbar-default" role="navigation"> <div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'ppauLogo-australia_bw.svg', height: '50' %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li>
        <%= link_to edit_user_registration_path do %>
          <span class="user-icon glyphicon glyphicon-user"></span>
          <span class="user-name"><%= current_user.name %></span>
        <% end %>
        </li>
        <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li> <%= link_to 'Register', new_user_registration_path %> </li>
        <li> <%= link_to 'Sign in', new_user_session_path %> </li>
      <% end %>
    </ul>
  </div>
</div>
</nav>

<%= yield %>

</div><%# container %>

</body>
</html>
